<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Personal Comics DataBase</display-name>
	
	<servlet>
		<description>Servlet de cadastro de titulo</description>
		<servlet-name>addTitleServlet</servlet-name>
		<servlet-class>nunes.rabello.server.servlets.AddTitleServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>Servlet that retrieves information relative to blogs from the database</description>
		<servlet-name>TitleServlet</servlet-name>
		<servlet-class>nunes.rabello.server.implementations.TitleServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<description>Servlet that retrieves information relative to blogs from the database</description>
		<servlet-name>ListServlet</servlet-name>
		<servlet-class>nunes.rabello.server.implementations.ListServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<description>Servlet de cadastro de numero</description>
		<servlet-name>addNumberServlet</servlet-name>
		<servlet-class>nunes.rabello.server.servlets.AddNumberServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>Servlet de cadastro de coisas</description>
		<servlet-name>addStuffServlet</servlet-name>
		<servlet-class>nunes.rabello.server.servlets.AddStuffServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>addStuffServlet</servlet-name>
		<url-pattern>/addStuffServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>addNumberServlet</servlet-name>
		<url-pattern>/addNumberServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ListServlet</servlet-name>
		<url-pattern>/getlist</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>TitleServlet</servlet-name>
		<url-pattern>/gettitle</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>addTitleServlet</servlet-name>
		<url-pattern>/addTitleServlet</url-pattern>
	</servlet-mapping>

</web-app>